/*responsive css? */

/*all*/
#container {max-width:1100px; margin:0 auto;}
header#primary-header, section#main, footer#primary-footer {max-width:100%; clear:both;}
/*header branding*/
hgroup#top-branding {float:left;}
h1#site-title {float:left; display:block; margin:0px; text-align:center;}
h2#site-description {float:left; display:block; margin: 9px 0 0 5px; text-align:center;}
h1#site-title a, h2#site-description a {margin:0 auto;}
/*header nav*/
nav.header-primary {max-width:70%; float:right;}
nav.header-primary ul li {display:inline;}
nav.header-secondary {max-width:100%; clear:both;}
nav.header-secondary ul li {display:inline;}
nav.header-primary li ul.sub-menu, nav.header-secondary li ul.sub-menu {display:none;}
nav.header-primary li a span.item-description {display:none;}
/*featured area*/
div#featured-area img {width: 100%; height:auto;}
/*content area*/ 
section#maincol {float:left; width:70%;}
section#secondcol {float:left;}
section.inner ul {margin:0px; padding:0px;}
/*footer nav*/
nav.footer-primary {float:left; width:100%; }
nav.footer-primary ul {text-align:center;}
nav.footer-primary ul li {display:inline;}
nav.footer-secondary {float:right;text-align:right;}
nav.footer-secondary ul li {display:inline;}
/*footer branding */
hgroup#footer-branding {  float:left; }
hgroup#footer-branding p {}

